{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cars/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="navbar">
            <a href="{% url 'cars:index' %}" class="navbar-title">ABC Car Showroom</a>
        </div>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 - <a href="https://github.com/zulkou">Fahmi Zulkarnain Habib</a></p>
</footer>

</body>
</html>