<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Form</title>
</head>
<body>
    {% load number_filters %}
    <h1>{{ car }}</h1>

    <ul>
        <li>
            <p>Brand: {{ car.brand }}</p>
        </li>
        <li>
            <p>Model: {{ car.model }}</p>
        </li>
        <li>
            <p>Year: {{ car.year }}</p>
        </li>
        <li>
            <p>Base Price: Rp{{ car.base_price|intdot }}</p>
        </li>
    </ul>

    <h2>Service History</h2>
    <ul>
    {% for service in services %}
        <li>{{ service.date }} - {{ service.description }}</li>
    {% empty %}
        <li>No services yet.</li>
    {% endfor %}
    </ul>

    <a href="{% url 'cars:create_car_service' car.id %}">Create Service for this Car</a>
</body>
</html>
