{% load static %}
{% load number_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Form</title>
    <link rel="stylesheet" href="{% static 'cars/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="back-link-section">
            <a href="{% url 'cars:detail_car' car.id %}" class="btn btn-link">&laquo; Back to Car Detail</a>
        </div>
        <h3>Create Transaction for Car: {{ car }}</h3>
        <p>Brand: {{ car.brand }}</p>
        <p>Base Price: {{ car.base_price|intdot }}</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}  <button type="submit" class="btn btn-primary">Proceed to Confirmation</button>
        </form>
    </div>
</body>
</html>