{% extends "base.html" %}

{% block title %}Car List{% endblock %}

{% block header %}All Cars{% endblock %}

{% block content %}
<div class="container">
    <div class="back-link">
        <a href="{% url 'cars:detail_car' car.id %}" class="btn btn-link">&laquo; Back</a>
    </div>
    <h1>Create Service for {{ car }}</h1>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Service</button>
    </form>
</div>
{% endblock %}